<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <title>SubTrek - My Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>

    <body>
        <main id="content">
            <h1>SubTrek</h1>
            <navigation></navigation>
            <hr>
            <form @submit.prevent="updateCustomer(customerToUpdate.username, customer)" class="login-form">
                <h2>My Account</h2>
                
                <input type="hidden" v-model="customer.customerId" required>

                <label for=“username”><strong>Username</strong></label>
                <input type="text" maxlength="50" v-model="customer.username" required>
                <br>

                <label for=“emailAddress”><strong>Email</strong></label>
                <input type="email" maxlength="50" v-model="customer.emailAddress" required>
                <br>

                <label for=“reminderThreshold”><strong>Reminder Threshold</strong></label>
                <input type="number" max="30" v-model="customer.reminderThreshold" required>
                <br>
                
                <button class="raise" type="submit">Update Account</button>
                <br>
                <button class="del" type="submit" @click.prevent="openDeleteDialog(customer)">Delete Account</button>
            </form>
        </main>

        <script type="module" src="js/customer.js"></script>
    </body>
</html>
