<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Update Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>

    <body>
        <main id="content">
            <h1> My Account </h1>
            <navigation></navigation>
            <hr>
            <form @submit.prevent="updateCustomer(customerToUpdate)" class="login-form">
                    <input type="hidden" v-model="customerToUpdate.customerId" required>

                    <label for=“username”><strong>Username</strong></label>
                    <input type="text" v-model="customerToUpdate.username" required>
                    <br>

                    <label for=“firstName”><strong>First Name</strong></label>
                    <input type="text" v-model="customerToUpdate.firstName" required>
                    <br>

                    <label for=“lastName”><strong>Last Name</strong></label>
                    <input type="text" v-model="customerToUpdate.lastName" required>
                    <br>

                    <label for=“phoneNumber”><strong>Phone</strong></label>
                    <input type="text" v-model="customerToUpdate.phoneNumber" required>
                    <br>

                    <label for=“emailAddress”><strong>Email</strong></label>
                    <input type="email" v-model="customerToUpdate.emailAddress" required>
                    <br>
                    <br>

                    <button class="raise" type="submit">Update Account</button>
                    {{updateMessage}}
                <br>
                <button class="del" type="submit" @click.prevent="openDeleteDialog(customerToUpdate)">Delete Account</button>
            </form>
        </main>

        <script type="module" src="js/customer.js"></script>
    </body>
</html>
