<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SubTrek</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>
    <body>
        <main id="content">
            <h1>SubTrek</h1>
            <navigation></navigation>
            <div id='welcome' align="center" class=""><h3>{{ welcome }}</h3></div>
            <hr>
            <div align="center">
                <a href="subscription.html" v-if="signedIn"><button class="butgreen up">Add Subscription</button></a>
            </div>
            <div v-if="signedIn">
                <button class="raise" @click.prevent="getSubs()">All</button>
                <button class="raise" type="button" class="pink-button" v-for="category in categories" 
                        @click.prevent="filterByCat(category)">{{category}}</button>
                <table>

                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Company</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>

                    <tbody>
                        <tr v-for="subscription in subscriptions">
                            <td>{{subscription.name}}</td>
                            <td>{{subscription.description}}</td>
                            <td>{{subscription.paid ? formatCurrency(subscription.subscriptionPrice) : 'Free'}}</td>
                            <td>{{subscription.companyName}}</td>
                            <td :style="{ 'color' : getDateColor(subscription) }">{{getConvertedDate(subscription.dueDate)}} 
                                {{getSubStatus(subscription)}}
                                <button class="raise" v-if='daysToToday(subscription.dueDate) <= 3' @click.prevent="renewSub(subscription)">Renew</button>
                            </td>
                            <td>
                                <div>
                                    <button class="raise" @click.prevent="redirectToUpdate(subscription)">Update</button>
                                </div>
                                <br>
                                <div>
                                    <button class="del" @click.prevent="deleteSub(subscription)">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td>{{formatCurrency(total.value)}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
        </main>

        <script type="module" src="js/subscription.js"></script>
    </body>
</html>
