<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SubTrek - Home</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>
    <body>
        <main id="content">
            <navigation></navigation>
            <!--<div id='welcome' align="center" class="">{{ welcome }}</div>-->
            <div class="subscriptions" v-if="signedIn">
                <h2>Categories</h2>
                <button class="raise" @click.prevent="getSubs(customer.username); getTotal(customer.username)">All</button>
                <button class="raise" type="button" class="pink-button" v-for="category in categories" 
                        @click.prevent="filterByCat(category); getTotalForCategory(category, customer.username)">{{category}}</button>
                <h2>My Subscriptions</h2>
                <div align="center">
                    <button class="butgreen up" v-if="signedIn" @click.prevent="redirectToAdd()">Add Subscription</button>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Company</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>

                    <tbody>
                        <tr v-for="subscription in subscriptions">
                            <td>{{subscription.name}}</td>
                            <td>{{subscription.description}}</td>
                            <td>{{subscription.paid ? formatCurrency(subscription.subscriptionPrice) : 'Free'}}</td>
                            <td>{{subscription.companyName}}</td>
                            <td :style="{ 'color' : getDateColor(subscription) }">{{getConvertedDate(subscription.dueDate)}} 
                                {{getSubStatus(subscription)}}
                                <button class="raise" v-if='daysToToday(subscription.dueDate) <= reminderThreshold' @click.prevent="renewSub(subscription)">Renew</button>
                            </td>
                            <td>
                                <div class="sub-buttons">
                                    <button class="raise" @click.prevent="redirectToUpdate(subscription)">Update</button>
                                    <button class="del" @click.prevent="openDeleteDialog(subscription)">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td>{{formatCurrency(total.value)}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="landing-page" v-else>
                <div class="landing-page-img">
                    <img src="images/SubTrackLandingPage.png">
                </div>
                <div class="landing-page-text">
                    <h1>Track your subscriptions with ease.</h1>
                    <p>With an abundance of modern subscription-based services,  it can <br> be a hassle to keep track of your subscriptions. 
                        With SubTrek, you can <br> automatically track your subscriptions and get automated warnings right <br>  before 
                        they expire -- without any input required.</p>
                    <button class="up" @click.prevent="redirectToRegister()">
                        Get Started
                    </button>
                </div>
            </div>
            
            <footer-comp></footer-comp>
        </main>

        <script type="module" src="js/subscription.js"></script>
    </body>
</html>
