<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<link rel="stylesheet" href="css/style.css">-->
<div id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
    <div id='welcome'>{{custCtrl.welcome}}</div>
   <a href="home.html" class='others'><button type='button'>Home</button></a>
   <!--
   <a href="products.html" ng-if="custCtrl.signedIn"><button type='button'>Browse Products</button></a>
   <a href="shoppingCart.html" ng-if="custCtrl.signedIn"><button type='button'>View Cart</button></a>
   <a href="index.html" ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()"><button type='button'>Sign Out</button></a>
   -->
   <a href="signin.html" ng-if="!custCtrl.signedIn"><button type='button'>Sign In</button></a>
   
</div>