<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<link rel="stylesheet" href="css/style.css">-->
<div id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
    <div id='welcome'>{{custCtrl.welcome}}</div>
  <a href="home.html"><button>Home</button></a>
  <a href="updateacc.html" ng-if="custCtrl.signedIn"><button>Update Account</button></a>
     <a href="home.html" ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()"><button>Sign Out</button></a>
    <a href="signin.html" ng-if="!custCtrl.signedIn"><button>Sign In</button></a>
   
</div>