<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sign In</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/SubTrack.css">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content">
            <div>
                <h1>Sign In</h1>
            </div>
            <div align="center">

            </div>
            <hr>
            <div>
                <!--<p>{{signInMessage}}</p>-->
                <form @submit.prevent="signIn()" class='login-form'>
                    <fieldset>
                        <legend align='left'>Account Details</legend>

                        <div class="login-input">
                            <label for='uname'><strong>Username</strong></label>
                            <br>
                            <input type="text" v-model="customer.username" required>
                            <br>
                        </div>

                        <div class="login-input">
                            <label for='pword'><strong>Password</strong></label>
                            <br>
                            <input type="password" v-model="customer.password" required>
                            <br>
                        </div>

                        <button type='submit' class="raise">Sign In</button>
                    </fieldset>

                    <h4>Don't have an account? <a href=register.html>Create one!</a></h4>
                </form>
            </div>
        </main>

        <script type="module" src="js/customer.js"></script>
    </body>
</html>