<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SubTrek">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/SubTrek.js"></script>
        <title>Update Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        
         <h1> My Account </h1>
         <div align="center" ng-include="'menu.html'"></div>
         <form ng-controller="CustomerController as custCtrl" ng-submit="custCtrl.updateCustomer(customer)" >
            <center>
            
             <input type="hidden" ng-model="$sessionStorage.customer.customerId" required>
            <label for=“username”>Username:</label>
            {{custCtrl.customer.username}}
            <br>
            
            <label for=“firstName”>First Name:</label>
            <input type="text" ng-model="custCtrl.customer.firstName" required>
            <br>
            
            <label for=“lastName”>Last Name:</label>
            <input type="text" ng-model="custCtrl.customer.lastName" required>
            <br>
            <!--<label for=“password”>Password:</label>-->
            <!--<input type="hidden" ng-model="custCtrl.customer.password" required>-->
            <!--<br>-->
            
            <label for=“phoneNumber”>Phone:</label>
            <input type="text" ng-model="custCtrl.customer.phoneNumber" required>
            <br>
            <label for=“emailAddress”>Email:</label>
            <input type="email" ng-model="custCtrl.customer.emailAddress" required>
            <br>
            <br>
            
            <button type="submit">Update Account</button></center> </center>
            <br>
            
        </form>
         
         <center><button class="delete" type="submit" ng-click="subCtrl.deleteAccount(account)">Delete Account</button></center>
        
    </body>
     <div align="center" ng-include="'footer.html'">   
    </div>
</html>