<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Update Subscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>
    <body>
        <main id='content'>
            <h1> Update Subscription </h1>
            <navigation></navigation>
            <hr>
            <form @submit.prevent="updateSub(subToUpdate)" class="login-form">
                <input type="hidden" v-model="subToUpdate.subscriptionId" required>
                
                <label for=“name”><strong>Name</strong></label>
                <input type="text" v-model="subToUpdate.name" list="nameList" required>
                <datalist id="nameList">
                    <option v-for="subscription in subscriptions">{{subscription.name}}</option>
                </datalist>
                <br>

                <label for=“category”><strong>Category</strong></label>
                <input type="text" v-model="subToUpdate.category" list="categoryList" required>
                <datalist id="categoryList">
                    <option v-for="category in categories">{{category}}</option>
                </datalist>
                <br>

                <label for=“subscriptionPrice”><strong>Price</strong></label>
                <input type="number" v-model="subToUpdate.subscriptionPrice" list="priceList" required>
                <datalist id="priceList">
                    <option v-for="subscription in subscriptions">{{subscription.subscriptionPrice}}</option>
                </datalist>
                <br>

                <label for=“description”><strong>Description</strong> <em>(optional)</em></label>
                <input type="text" v-model="subToUpdate.description" list="descriptionList">
                <datalist id="descriptionList">
                    <option v-for="subscription in subscriptions">{{subscription.description}}</option>
                </datalist>
                <br>

                <label for=“companyName”><strong>Company</strong> <em>(optional)</em></label>
                <input type="text" v-model="subToUpdate.companyName" list="companyList">
                <datalist id="companyList">
                    <option v-for="subscription in subscriptions">{{subscription.companyName}}</option>
                </datalist>
                <br>

                <label for=“dueDate”><strong>Due Date</strong></label>
                <input type="date" v-model="subToUpdate.dueDate" name="trip-start"
                       min="2020-01-01" max="2030-12-31" list="dateList" required>
                <datalist id="dateList">
                    <option v-for="subscription in subscriptions">{{subscription.dueDate}}</option>
                </datalist>
                
                <br><br>

                <button type="submit" class="raise">Update Subscription</button>
                <!-- <a href="home.html"><button class=".button">Update Subscription</button></a> -->
            </form>
        </main>

        <script type='module' src='js/subscription.js'></script>
    </body>
</html>
