<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.umd.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Update Subscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/SubTrack.css">
    </head>
    <body>
        <main id='content'>
            <h1> Update Subscription </h1>
            <navigation></navigation>
            <hr>

            <form @submit.prevent="updateSub(subToUpdate)" class="login-form">
                <input type="hidden" v-model="subToUpdate.subscriptionId" required>
                
                <label for=“name”>Name:</label>
                <input type="text" v-model="subToUpdate.name" required>
                <br>

                <label for=“category”>Category:</label>
                <input type="text" v-model="subToUpdate.category" required>
                <br>

                <label for=“subscriptionPrice”>Price:</label>
                <input type="text" v-model="subToUpdate.subscriptionPrice" required>
                <br>

                <label for=“description”>Description:</label>
                <input type="text" v-model="subToUpdate.description" required>
                <br>

                <label for=“companyName”>Company:</label>
                <input type="text" v-model="subToUpdate.companyName" required>
                <br>

                <label for=“dueDate”>Due Date:</label>
                <input type="date" v-model="subToUpdate.dueDate" name="trip-start"
                       min="2020-01-01" max="2030-12-31">
                <br><br>

                <button type="submit" class="raise">Update Subscription</button>
                <!-- <a href="home.html"><button class=".button">Update Subscription</button></a> -->
            </form>
        </main>

        <script type='module' src='js/subscription.js'></script>
    </body>
</html>
